<style>
    i[id*="post_meta_style"] {
        display: flex;
        align-items: center;
        margin: 0 0 10px 0;
    }

    .parent-post-meta {
        display: flex;
        flex-wrap: wrap;
        opacity: 0.8;
    }
</style>
<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">

<span><!--  class="parent-post-meta" -->
	
    <span><i class="fa fa-calendar"></i>&nbsp;</span>
    <span>
        {{- (.Date.Format (default "2006-1-2" .Site.Params.DateFormat)) }}
        &nbsp;&nbsp;
    </span>

    <span><i class="fa fa-bar-chart"></i>&nbsp;</span>
    <span>
        {{- .WordCount }}字
        &nbsp;&nbsp;
    </span>

    <span><i class="fa fa-clock-o"></i>&nbsp;</span>
    <span>
        {{- .ReadingTime }}分钟
        &nbsp;&nbsp;
    </span>
    <span><i class="fa fa-user-circle-o"></i>&nbsp;</span>
    <span>
        {{- with (partial "author.html" .) }}
        {{- . }}
        {{- end }}
        &nbsp;&nbsp;
    </span>
    <span><i class="fa fa-tags"></i>&nbsp;</span>
    <span>
        {{- if .Params.tags }}
        <span class="post-tags-meta">
            {{- range $index, $value := ($.GetTerms "tags") }}
            {{- if eq $index 0}}
            <a href="{{ .Permalink }}" style="color: var(--secondary)!important;">{{ .LinkTitle }}</a>
            {{- else }}
            &nbsp;<a href="{{ .Permalink }}" style="color: var(--secondary)!important;">{{ .LinkTitle }}</a>
            {{- end }}
            {{- end }}
        </span>
        {{- end }}
    </span>
</span>
